/* General */

* {
  box-sizing: border-box;

  font-family: Helvetica, sans-serif;

  margin: 0;

  padding: 0;
}

body {
  background-color: #242940;

  color: #FFF;
}

.hide {
  display: none!important;
}

#main-title {
  background-color: #2D425A;

  border-bottom-left-radius: 50px;

  border-bottom-right-radius: 50px;

  padding: 40px 0;

  text-align: center;
}

/* Score Container */
#score-container {
  background-color: #CDDDE8;

  border-radius: 20px;

  color: #000;

  margin: 50px auto;

  padding: 25px;

  text-align: center;

  width: 300px;
}

#score-container p {
  font-size: 14px;

  margin: 20px 0;
}

#score-container #display-score {
  font-size: 32px;

  font-weight: bold;
}

#correct-answers {
  color: #40B576;
  
  font-weight: bold;
}

#questions-qty {
  color: #0758A4;

  font-weight: bold;
}

#restart {
  background-color: #E78230;

  border: 2px solid transparent;

  border-radius: 25px;

  color: #FFF;

  cursor: pointer;

  font-weight: bold;

  height: 50px;

  margin-top: 20px;

  text-transform: uppercase;

  transition: .5s;

  width: 180px;
}

#restart:hover {
  background-color: transparent;

  border-color: #E78230;

  color: #E78230;
}

/* Quizz Container */
#quizz-container {
  border: 1px solid #CDDDE8;

  border-radius: 25px;

  margin: 50px auto;

  padding: 25px;

  width: 500px;
}

#question {
  font-size: 20px;

  margin-bottom: 25px;

  text-align: center;
}

#question-number {
  font-weight: bold;
}

#answers-box {
  align-items: center;

  display: flex;

  flex-direction: column;
}

#answers-box button {
  align-items: center;

  background-color: #CDDDE8;

  border: 2px solid transparent;

  border-radius: 25px;

  color: #000;

  cursor: pointer;

  display: flex;

  height: 50px;

  margin: 15px 0;

  padding-left: 5px;

  text-align: left;

  transition: .5s;

  width: 300px;
}

#answers-box button:hover {
  background-color: #E78230;

  color: #FFF;
}

#answers-box .btn-letter {
  background-color: #E78230;

  border-radius: 50%;

  color: #FFF;

  flex: 1 1 0;

  font-size: 30px;

  font-weight: bold;

  line-height: 40px;

  max-width: 40px;

  text-align: center;

  text-transform: uppercase;
}

.question-answer {
  flex: 1 1 0;

  font-size: 16px;

  margin-left: 10px;
}

#quizz-container .correct-answer,
#quizz-container .correct-answer .btn-letter {
  background-color: #40B576;

  color: #FFF;
}

#quizz-container .wrong-answer,
#quizz-container .wrong-answer .btn-letter {
  background-color: #E62210;

  color: #FFF;
}

/* Responsive */
@media (max-width: 450px) {
  #quizz-container {
    border: none;

    width: 100%;
  }

  #answers-box button {
    width: 100%;
  }

  #score-container {
    width: 90%;
  }
}